<p id="notice"><%= notice %></p>

<p>
  <strong>Plan:</strong>
  <%= @plusr.plan %>
</p>

<p>
  <strong>User:</strong>
  <%= @plusr.user %>
</p>

<%= link_to 'Edit', edit_plusr_path(@plusr) %> |
<%= link_to 'Back', plusrs_path %>
