<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @plan.price %>
</p>

<p>
  <strong>Billing cycle:</strong>
  <%= @plan.billing_cycle %>
</p>

<p>
  <strong>Next billing date:</strong>
  <%= @plan.next_billing_date %>
</p>

<p>
  <strong>Deadline date:</strong>
  <%= @plan.deadline_date %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @plan.admin %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
